* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #1d1d1d;
    height: 100vh;
    cursor: pointer;
    overflow: hidden;
}

.circle {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    

}

